
$rdt-font-family: 'Lato', sans-serif;
$rdt-font-size: 16px;
$rdt-unit-size: 4px;

$rdt-border-radius: 6px;

$rdt-color-primary: #a82727;
$rdt-grey1: #222222;
$rdt-grey2: #666666;
$rdt-grey3: #999999;
$rdt-grey4: #cccccc;
$rdt-grey5: #efefef;


